@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");


html{
  height: 100%;
}

body {
  height: 100%;
  margin-top: 60px; /* Add a top margin to avoid content overlay */
  z-index: 1;
  font-family: 'Roboto', sans-serif;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page-footer{
  background-color: rgb(240, 241, 243);
  color: rgb(119, 119, 119);
  font-weight: 300;
  padding: 20px;
  flex: 1;
  }

.fas[data-count]{
    position:relative;
}
.fas[data-count]:after{
    position: absolute;
    right: -0.75em;
    top: -0.75em;
    content: attr(data-count);
    padding: .5em;
    border-radius: 10em;
    line-height: .9em;
    color: white;
    background: rgba(240, 88, 88, 1.0);
    text-align: center;
    min-width: 2.1em;
    font: bold .6em sans-serif;
    box-shadow: 0px 0px 5px 2px #dddddd;
}

.navbar{
  overflow: visible !important;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 101;
  
}

.navbar-rightside{
  width: 20%;
  float: right;
  padding: auto auto 0px auto;
  }

  .navbar-nav{
    flex-direction: row;
  }

.navbar-nav > li{
  float: right;
  margin-left:10px;
}
.navbar-leftside{
  float: left;
  width: 20%;
}
#navbar-logo{
  width: 50px;
  -webkit-filter: drop-shadow(0px 0px 20px 5px #d3d3d3);
  filter: drop-shadow(0px 0px 20px 5px #d3d3d3);
}

.navbar-center{
  position: fixed;
  width: 40%;
  max-width: 400px;
  margin-left: 75px;
}

.searchbox input.form-control {
  border-radius:10px;
  width:100%;
  padding:0px 0px 0px 15px;
}

div.searchbox {
  position: relative;
}

img.searchimg {
  margin-right: 15px;
}

#searchresult{
  margin-top: 5px;
  -webkit-filter: drop-shadow(0px 0px 20px 5px #d3d3d3);
  filter: drop-shadow(0px 0px 20px 5px #d3d3d3);
  z-index: 1000;
}

.navbar-icon{
  color: rgb(92, 92, 92);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px 2px #dddddd;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding:10px;
  margin-top: 8px;
  float: right;
}

#groupsBtn{
  padding-left: 8px;
}

#navbar-addpost-icon{
  color: rgb(255, 255, 255);
  background-color: rgb(212, 114, 98);
}

#navbar-profile-icon{
  width: 50px !important;
  height: 50px !important;
  margin-top: 0px;
  background-position: center center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

#mobileBtn{
  display: none;
}

.sidebar{
  background-color: rgb(238, 239, 241);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}

.profileBody .sidebar{
  background-color: rgb(238, 239, 241);
  border-radius: 5px;
  padding: 15px;
  margin-top: 18px;
}

.sidebarTitle{
font-weight: 600;
}

.friend{
  margin-top: 10px;
  padding: 10px;
}

.friend .profilePhoto{
  width:70px;
  height: 70px;
  }

.post{
  background-color: rgb(245, 246, 248);
  border-radius: 5px;
  padding: 15px;
}

.post .profilePhoto{
width:70px;
height: 70px;
}

.postComments{
  padding: 10px 20px;
}

.comment{
  width: 100%;
  padding-bottom: 10px;
}

.postCommentDetail{
  padding: 5px 15px;
  min-width: 100px;
  max-width: 85%;
  background-color: white;
  border-radius: 20px;
  margin-left: 10px;
}

.postComments .profilePhoto{
  width:50px;
  height: 50px;
  }

.postDetails{
  padding: 10px 20px;
}

.postContent{
  padding: 140px 20px 140px 20px;
  min-height: 280px;
  margin: auto;
}

.postText{
  font-family: 'Noto Serif', serif;
  font-size: 2.5rem;
  color: rgb(87, 87, 87);
}

#profilePagePhoto{
  width: 200px;
  height: 200px;
  margin: 70px auto 30px auto;
  display: block;
  border-radius: 100%;
}

#profileHeader{
  font-size: 3.5rem;
  font-weight: 600;
  padding-top: 70px;
}

#followButton{
  width: 200px;
  margin-top: 25px;
}

.pageHeader{
    padding: 50px 0px 10px 0px;
    font-size: 2.5rem;
    font-weight: 600;
}

.btn-primary{
    background-color: #D47262 !important;
    border: none;
}

.btn-primary:hover{
    background-color: #B46155 !important;
    border: none;
}

#feedHeader{
  background-image: url(../Assets/imgs/feed-bg.jpg) !important;
  background-size: cover;
  background-position: bottom;
  padding: 150px 0px 150px 0px;
  color: white;
  text-align: center;
  text-shadow: 0 0 15px rgb(87, 87, 87);
  position: relative;
  z-index: 99;
}

#feedCaption{
  font-variant-caps: all-small-caps;
  font-weight: 300;
  font-size: 1.3rem;
}

.display-2{
    font-weight: 500;
}

.profilePhoto{
    border-radius:50%;
}

#settingProfile{
width: 200px;
height: 200px;
margin: 10px auto 30px auto;
display: block;
}



#signin {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 50px;
  background-color: #f5f5f5;
  height: 100%;
  text-align: center;
  background-image: url(../Assets/imgs/backgroundLogin.jpg) !important;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
  /*background-color: rgba(255, 255, 255, 0.8);*/
}

#form-register{
  max-width: 600px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.signinH1 {
  color: white;
  text-shadow: 0 0 15px rgb(58, 58, 58);
  text-decoration:none; 
  font-weight:normal; 
}
.signinH1 a:link { 
  color:#FFF; 
}

a {
  color: black;
}



div.message-from-me {
  float: right;
  border-radius: 10px;
  background: rgb(212, 114, 98);
  box-shadow: 0px 0px 5px 0px #dddddd;
  color: #FFF;
  padding: 5px 10px;
  margin-top: 5px;
  clear: both;
  max-width: 75%;
}

div.message-from-other {
  float: left;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px #dddddd;
  background: rgb(236, 238, 240);
  padding: 5px 10px;
  margin-top: 5px;
  clear: both;
  max-width: 75%;
}

@media only screen and (min-width: 214px) and (max-width: 767px) { 
  
  .navbar-center{
    width: 50%;
  }

  .navbar-rightside{
    width: 30%;
  }

  #navbarToggleMenu{
    margin: auto !important;
    list-style: none;
  }

  #mobile-center{
  margin: auto;
  width: 100%;
  }

  #feedHeader{
    padding: 100px 0px 50px 0px;
  }
  
  .display-2{
      font-size: 2.5rem;
  }

  .postContent{
    padding: 100px 20px 100px 20px;
    min-height: 200px;
  }

  .navbar-icon{
    list-style: none;
    display: inline;
    margin: auto;
  }

  .dropdown-navbar-icon{
    margin-left:10px; 
  }

  #alertsBtn{
    display: none;
  }

  #messagesBtn{
    display: none;
  }
  #settingsBtn{
    display: none;
  }
  #mobileBtn{
    display: block;
  }
  #navbar-profile-icon{
    display: none;
  }
  #groupsBtn{
    display: none;
  }
}